@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media screen and (max-width: 334px) {
  .btn-custom{
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
}

* {
  scroll-behavior: smooth;
}
